<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Plantiful Life</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>the plantiful life</h1>
        <a href="/plantistas/new" class="brand-logo"><img src="https://i.imgur.com/602DY1T.jpg?1" title="source: imgur.com"/></a>
    </header>
    <div class="navbar">
        
	    <% if (user) { %>
		    <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google">Login with Google</a>
        <% } %>
    </div> 

        