* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: olivedrab
}

body {
  margin: 0;
  height: 100vh;
}

body > nav {
  grid-area: nav;
  background-color: #225a68;
  align-items: center;
  padding: 0 20px 0 30px;
}

.brand-logo {
  margin-left: 30px;
}
