* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background-color: white;
  text-decoration: none;
}

.header h1 {
  font-size: 40px;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
} 
a:hover {
  background-color: rgb(186, 194, 188); 
}

a:visited {
  color: rgb(91, 90, 90);
}


#splash {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#welcome {
  align-content: center;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover {
  background-color: rgb(94, 154, 106);
}

#splash-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: olivedrab;
  color: white;
  font-size: 24px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  text-align: center;
  transition-duration: 0.3s
}

#splash-btn:hover {
  background-color: rgb(36, 58, 36);
  color: white;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: left;
}

input:focus {
  background-color: olivedrab;
}

#welcome {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome-btn {
  background-color: rgb(36, 58, 36);
  color: white;
  border: none;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; 
  width: 300px;
}

.small-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; 
}


.select-menu {
  position: relative;
}

#new-form {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#plant-list {
  text-align: center;
}

table {
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  
}

table thead th {
  padding: 5px;
  border-bottom: 1px solid #424748;

}

table td {
  padding: 12px;
  text-align: center;
}

.details-form {
  padding: auto;
  margin: auto;
  top: 40%;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

#edit {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#save-btn {
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  position: relative;
}