<%- include('../partials/header') %>
    <form id="new-form" action="/plants" method="POST">
      <h1>ADD PLANT DETAILS</h1>
      <br>
        <label>PLANT NAME</label>
        <br>
            <input type="text" name="plantName">
        <br>
        <br>
        <label>PLANT SPECIES</label>
        <br>
            <input type="text" name="plantSpecies">
        <br>
        <br>
        <label>LIGHT</label>
        <br>
            <select name="light">
              <option value="LOW">low</option>
              <option value="MEDIUM">medium</option>
              <option value="HIGH">high</option>
            </select>
        <br>
        <br>
        <label>WATER</label>
        <br>
            <select name="water">
              <option value="LOW">low</option>
              <option value="MEDIUM">medium</option>
              <option value="HIGH">high</option>
            </select>
        <br>
        <br>
        <label>GROOM</label>
        <br>
            <select name="groom">
              <option value="LOW">low</option>
              <option value="MEDIUM">medium</option>
              <option value="HIGH">high</option>
            </select>
        <br>
        <br>
        <label>CLIMATE</label>
        <br>
            <select name="climate">
              <option value="COLD">cold</option>
              <option value="DRY">dry</option>
              <option value="HUMID">humid</option>
            </select>
        <br>
        <br>
        <button id="small-btn">Add A New Plant</button>
    </form>
<%- include('../partials/footer') %>