<%- include('../partials/header') %>
    <a href="/plantistas/new" class="brand-logo left">The Plantiful Life</a>
    <h1>What's In Yo Pot?</h1>
    <form id="new-form" action="/plants" method="POST">
        <label>PLANT NAME</label>
        <input type="text" name="plantName">
        <label>PLANT SPECIES</label>
        <input type="text" name="plantSpecies">
        <label>LIGHT</label>
        <select name="light">
          <option value="LOW">LOW</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HIGH">HIGH</option>
        </select>
        <label>WATER</label>
        <select name="water">
          <option value="LOW">LOW</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HIGH">HIGH</option>
        </select>
        <label>GROOM</label>
        <select name="groom">
          <option value="LOW">LOW</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HIGH">HIGH</option>
        </select>
        <label>CLIMATE</label>
        <select name="climate">
          <option value="COLD">COLD</option>
          <option value="DRY">DRY</option>
          <option value="HUMID">HUMID</option>
        </select>
        <input type="hidden" value="<%= user.id %>" name="plantOwner"/>
        <input type="submit" value="Add New Plant">
      </form>
<%- include('../partials/footer') %>