<%- include('../partials/header') %>
    <h1>the Plantiful Life</h1>
    <form id="new-plantista-form" action="/plantistas/new" method="GET">
    <button>Begin your journey!</button>
    </form>
    <% if (user) { %> 
       <h1>Hello <%= user.name %> </h1> 
    <% } %> 
    
    <%- include('../partials/footer') %>