<%- include('../partials/header') %>
    <div id="splash">
        <h1>The Plantiful Life</h1>
        <form id="splash-form" action="/plantistas/new" method="GET">
        <p>Plants provide healthy lifestyles and clean air. To start your plantiful life click the button below.</p>
        <div class="container"></div>
            <img src="https://i.imgur.com/hmb7RvG.jpg?1" width="1000" title="source: imgur.com"/>
            <br>
            <button id="splash-btn">Begin Your Journey!</button>
        </div>
        </form>
    </div>    
<%- include('../partials/footer') %>
