<%- include('../partials/header') %>
<% if (user) { %> 
    <h1>Welcome to The Plantiful Life, <%= user.name %>!</h1> 
 <% } %> 
    <p>What would you like to do today?</p>
    <form id="new-plants-form" action="/plants/new" method="POST">
        <input type="submit" value="Add A New Plant">
    </form>
    <form id="new-carelog-form" action="/plants/new" method="POST"></form>      
        <input type="submit" value="Add A New Care Log">
    </form>
    <form id="new-plantista-form" action="/plants" method="GET"></form>      
        <input type="submit" value="View All Plants">
    </form>
<%- include('../partials/footer') %>