<%- include('../partials/header') %>
<section>
<% if (user) { %> 
    <h1>Welcome to The Plantiful Life, <%= user.name %>!</h1> 
 <% } %> 
    <p>What would you like to do today?</p>
    <br>
    <br>
    <form id="welcome-form" action="/plants/new" method="POST">
        <img src="https://i.imgur.com/Sts3aaxl.jpg?1" width="500" title="source: imgur.com" />
        <br>
        <input type="submit" value="Add A New Plant">
    </form>
    <br>
    <br>
    <form id="welcome-form" action="/plants" method="GET">
        <img src="https://i.imgur.com/3AyIejJl.jpg?1" width="500" title="source: imgur.com" />  
        <br>
        <input type="submit" value="View All Plants">
    </form>
</section>    
<%- include('../partials/footer') %>



